.Details {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.DetailsTitle {
  padding-top: 20px;
  font-size: 45px;
  margin-bottom: 70px;
}

.DetailsInfo {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.DetailsInfoBord {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.AdditionalWrapper {
  border-top: 1px solid #333;
  padding: 10px;
}

.AdditionalTitle {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.AdditionalList {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.AdditionalLink {
  padding: 8px 22px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #5d5d5d;
  color: #5d5d5d;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.AdditionalLink:hover {
  background-color: #4f4f4f;
  border: 1px solid #4f4f4f;
  color: #fff;
}

.additionalLink:active {
  background-color: #4f4f4f;
  border: 1px solid #4f4f4f;
  color: #fff;
}
